*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    background:#0f172a;

}

.login-box{

    width:350px;

    background:white;

    padding:30px;

    border-radius:10px;

}

h2{

    text-align:center;

    margin-bottom:20px;

}

input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

}

button{

    width:100%;

    padding:12px;

    cursor:pointer;

}